:root {
  --dark-blue: #4682A9;
  --tan: #f6f4eb;
  --light-blue: #91c8e4
}

.page-content {
  margin-left: 13rem; /* or the width of the navbar */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-title {
  font-size: 4rem;
  font-weight: bold;
}

.song-container {
  background-color: var(--tan);
  width: 80vw;
  height: 80vh;
  overflow: auto;
  border-radius: 3rem;
  box-shadow: 0 1rem 3rem 0rem rgba(64, 64, 56, 0.5);
  margin-top: 1rem;
  padding: 1rem 0 0.5rem 0;
}

.song-row-container {
  display: grid;
  grid-template-rows: 0.75fr 2fr;
  padding: 0 1rem 0 1rem;
}

.song-row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  background-color: var(--light-blue);
  height: 18vh;
  min-height: 8rem;
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
}

.song-card {
  width: 10vh;
  height: 10vh;
  border-radius: 1rem;
  background-color: var(--tan);
}