:root {
  --dark-blue: #4682A9;
}
.navbar-container {
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensures it stays above other content */
  background-color: var(--dark-blue);
  width: 10rem;
  height: 100vh;
}

.nav-text {
  display: flex;
  flex-direction: column;
}

.nav-link {
  text-decoration: none;
  color: white;
}